environment:
    rustversion: 1.37.0
install:
# Need Mingw to build C bits
- SET PATH=%PATH%;C:\MinGW\bin
- ps: Start-FileDownload http://static.rust-lang.org/dist/rust-$env:RUSTVERSION-$env:PLATFORM-pc-windows-msvc.exe -FileName rust.exe
- rust.exe /VERYSILENT /NORESTART /DIR="C:\Program Files\Rust"
- SET PATH=%PATH%;C:\Program Files\Rust\bin
- rustc -vV
- cargo -V
- set RUST_BACKTRACE=1
matrix:
  fast_finish: true
platform:
# To build against multiple rust versions add them here
- i686
- x86_64
build_script:
- contrib\appveyor-build.bat
after_build:
- contrib\appveyor-after-build.bat
test_script:
- contrib\appveyor-test.bat
artifacts:
- path: '*.zip'
deploy:
  - provider: GitHub
    description: Automated builds (Appveyor)
    release: $(appveyor_repo_tag_name)
    auth_token:
      secure: Hx2tU6GZPZNB6qGjHcIqa1tEm8fVGXZUVfXyjboVrPcmA9OWMTXhLxayDzMMl3kD
    artifact: /.*\.zip/ 
    prerelease: false
    on:
      appveyor_repo_tag: true
